html{
	font-size: 16px; /*sets my defualt font size, used for em font sizes throughout the page*/
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif; /*sets font family for page*/
	display: flex;	
		/*Defines the body element as a flex object*/
	justify-content: center;	
		/*states that its children elements shall be center aligned horizontally*/
	align-items: center;	
		/* states that its children elements shall be center vertically */
	
		/* we have the main body tag and are declaring that as a flex box and all the contnet of body, which is the class container, will be aligned vertically and horizontally  */
	/* this makes the container class and its contnets be centered on the page */
}

.container{
	max-width: 1200px; 
		/* defines the max width of the container */
	width:90%;
		/* defines the width of the container class. it will take up 90% of its parent element, body */
		/* Kinda works like setting a margin, but maybe an easier parameter to use? */
	/* margin: 0 auto; */
		/* not needed. margins seems to be better defined via the width parameter */

	/* display: flex; */
			/*Defines the container class element as a flex object*/

	/* justify-content: center; */
			/*states that its children elements shall be center aligned horizontally*/

	/* align-items: center; */
		/* does not seem to be needed */

	/* flex-flow: row wrap; */
		/* defines direction as row and wraps content  */

	whats the point of this? Maybe if i want to use a different styling flex element in stead if the defualt stuff?
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
}
h2 {
	font-size: 1.125em;
}
h3 {
	font-size: .75em;
}

p {
	font-size: .875em;
	line-height: 21px;
    /* padding: 0 30px; */
}

	/* Line height and font size for my heading and paragraph elements */

/*The widths are in a percentage!*/
header {
	/* height: 110px; */
		/* No fixed heights. */
	border-bottom: 3px solid #77a466;
		/* style element  */
	width: 100%;
		/* defines the width of the header element, and we want this to be the same size as the container */
	/* margin: 0 auto; */
		/* not needed bc flex-box */

	/* display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap; */

	/* not sure if I need this, I seem to get the same result without it */
}

header h1 {
	margin: 0;
	padding: 10% 0 5% 0;
	width:100%;
	text-align: center;
	border-bottom: 3px solid #77a466;

	/* style elements  */
}
header h1 span {
	color: #77a466;

		/* style elements  */
}

header nav {
	padding: 1% 0;

		/* style elements  */
}
header nav ul {
	margin: 0;
	padding: 0;

		/* style elements  */
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: .875em;
	padding: 0 10px;
	display: inline;

		/* style elements  */
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;

		/* sets items to flex and has them centered and on a new lien. also style elements  */
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	/* margin: 0 auto; */

	/* display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap; */

		/* not sure if I need this, I seem to get the same result without it */

}

.main-image {
	height: auto;
}
.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title {
	height: auto;
}
.main-title h2 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 25px;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
	height: auto;
	border-top: 1px solid #eee;
}

/* .section-one h3 {
	padding: 10px 0;
} */

/* .section-two {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
} */

/* .section-two h3,
.section-three h3 {
	padding: 10px 30px;
} */

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 21px;
}

.address {
	font-size: 1em;
	line-height: 24px;
}

/*The widths are in a percentage!*/
footer {
	/* height: 50px; */
	border-top: 3px solid #eee;
	width: 90%;
	margin: 0 auto;
	text-align: center;
	/* display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap; */

		/* not sure if I need this, I seem to get the same result without it */

}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: .875em;
}

@media all and (min-width: 768px){
	/* Tablet styles */
	
	.bottom-section{
		display: flex;
		justify-content: center;
	}

	.section-one h3 {
	padding: 10px 0;
	} 

	.section-two {
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
	} 

	.section-two h3,
	.section-three h3 {
		padding: 10px 30px;
	}

	p{
		padding: 0 30px;
	}
	
	.section-one li{
		padding-right: 10px;
	}
}

@media all and (min-width: 1200px){
	/* Desktop styles */

	header{
		display: flex;
		justify-content: center;
		/* flex-flow: row nowrap; */
		width: 100%;
		border-bottom: 3px solid #77a466;
	}

	header h1{
		padding: 2% 0;
		/* text-align: left; */
		display: flex;
		align-items: center;
		width:100%;
	}

	header nav ul li a{	
		display: inline;
		/* justify-content: center; */
		/* align-items: center; */
		/* flex-flow: row wrap; */
	
			/* sets items to flex and has them centered and on a new lien. also style elements  */
	}

	nav{
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width:100%;
				border-bottom: 3px solid #77a466;
	}

	footer{
		width: 100%;
	}

}